[package]
name = "ch28-web-hello"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
description.workspace = true

[dependencies]
axum = "0.7"
tokio = { version = "1.0", features = ["full"] }
